#hexbusters {
	position: absolute;
	width: 1024px;
	height: 768px;
	background-color: #0D98F2;
}

#players {
	position: absolute;
	left: 0;
	top: 0;
	width: 234px;
	height: 768px;
	background-color: #979797;
}

#messages {
	position: absolute;
	left: 0;
	top: 100px;
	width: 234px;
	height: 668px;
}

#middle {
	position: absolute;
	width: 790px;
	height: 768px;
	left: 234px;
	top: 0px;
	text-align: center;
}

#board {
	position: relative;
	width: 690px;
	height: 768px;
	margin: 100px auto;
}
