#hexbusters {
	position: absolute;
	width: 1024px;
	height: 768px;
	background-color: #ababab;
}

#players {
	position: absolute;
	left: 0;
	top: 0;
	width: 234px;
	height: 768px;
	background-color: #979797;
}

#messages {
	position: absolute;
	right: 0;
	top: 0;
	width: 234px;
	height: 768px;
	background-color: #979797;
}

#middle {
	position: absolute;
	width: 556px;
	height: 768px;
	left: 234px;
	top: 0px;
	text-align: center;
}

#board {
	position: relative;
	width: 342px;
	height: 768px;
	margin: 100px auto;
}
